@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: block;
}

/*** BODY  ****/
body {
    background-color: #F4F3F0;
    margin: 0;
}


/* HEADER */

header {
    background-color: rgb(13, 109, 90);
    width: 100%;
}

.navbar {
    padding: 30px 0px;
}

/*

header ul li {
    margin: 5px;
}

header ul li a {
    color: #F4F3F0;
    text-decoration: none;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}*/


/* Mobile */
@media only screen and (max-width: 500px) {

    header {
        flex-direction: column;
        align-items: flex-start;
        background-color: rgb(13, 109, 90);
    }

    header nav {
        display: block;
        margin: 0 auto;
    }

    footer .footer_menu {
        display: block;
        text-align: center;
    }

    /*
    footer nav ul {}

    footer ul li {
        padding: 5px 0px;
    }

    footer ul li .redes {
        display: inline;
    }
    */
    footer ul li a {
        font-size: 25px;
    }

    .redes {

        padding: 30px 0px;
        justify-content: space-around;
    }



}

/* Tablet */
@media only screen and (min-width: 501px) and (max-width:960px) {}


ul {
    display: flex;
}

ul li {
    list-style-type: none;
    width: fit-content;
}

@media only screen and (min-width: 961px) and (max-width:1200px) {

    /* acomodar tamaño video */
    main section .items_alim_saludable {
        padding: 10px 7px;
        background-color: antiquewhite;
    }

}


/****  MAIN   ****/
main {
    margin: 0 auto;
    padding: 10px;
}

main .img_bienvenida .seccionDos {
    background-color: #fff;
}

main section h5 {
    padding: 5px 0px;
}

main section .items_alim_saludable {
    padding: 30px 40px;
    background-color: antiquewhite;
}

main section .zona_videos {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    background-color: antiquewhite;
    padding: 20px 0px;
}

main section .zona_videos .video {}

main #titulo h1 {
    font-family: cursive;
}

main section .talleres {
    background-image: url('https: //media.istockphoto.com/id/997568664/es/foto/profesor-explicando-frutas-a-los-alumnos-en-el-aula.jpg?s=612x612&w=0&k=20&c=kckcv6b4xVkF_PXTzqElsuF2u88V8EsSa6EqCRYhKOE=');
}

/* FOOTER */

footer {
    padding: 80px;
    margin-top: 20px;

}

footer nav {
    display: block;
    margin: 0 auto;
}

footer ul li {
    margin: 4px;
}

footer ul li a {
    color: #F4F3F0;
    text-decoration: none;

}

footer .footer_menu .escuela {
    color: cornflowerblue;
}


/* Títulos, subtitulos y párrafos generales */
h1,
h2,
h3,
h4,
p {
    width: fit-content;
    margin: 15px auto;
    padding: 5px;
    font-family: 'Popins', sans-serif;
    text-align: justify;
}


/***   ***/

/* FORMULARIO CONTACTO */

input {
    margin: 5px;
}

form button {
    background-color: rgb(13, 109, 90);
    color: #F4F3F0;
    margin: 15px;
    padding: 15px 20px;
    border-radius: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
}