@charset "UTF-8";
/* Variables */
img {
  max-width: 100%;
  height: auto;
}

/* --- header --- */
header {
  background-color: rgb(13, 109, 90);
  width: 100%;
  top: 0;
  z-index: 1000;
}
header nav .logo_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header nav .logo_header a {
  font-size: 25px;
}
header nav .navbar {
  padding: 20px 0px;
}

/* --- main ----*/
main {
  padding-top: 72px;
  /* index.html */
  /*pages destacados.html*/
  /*  talleres  */
  /* consultas*/
  /* recetas */
  /* links interes */
}
main h2 {
  letter-spacing: 2px;
}
main .bienvenida p strong-animar {
  color: #000;
}
main .bienvenida p:hover {
  color: rgba(13, 13, 60, 0.756);
  font-size: 1.02em;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  padding: 50px 100px;
  transition: all 0.8s;
}
main #seccion-nutricion h5 {
  margin: 0 auto;
  width: fit-content;
  background-color: rgba(255, 193, 7, 0.6);
}
main #seccion-nutricion h5:hover {
  box-shadow: 2px 2px 8px rgba(137, 104, 7, 0.883);
  transition: all 0.8s;
}
main #titulo h1 {
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  font-size: 3em;
  font-weight: 700;
}
main section {
  margin: 40px;
}
main section h5 {
  padding: 5px 0px;
}
main section .items_alim_saludable {
  padding: 30px 40px;
  background-color: antiquewhite;
}
main section .diploma {
  width: 100%;
  margin: 0 auto;
}
main section .sobremi_pages h6 {
  background-color: rgb(54, 106, 128);
  color: #fff;
  font-weight: 300;
  padding: 10px 0;
  text-align: center;
  margin: 40px 0;
}
main section #video .video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  /* 16:9 aspect ratio (height/width) */
  overflow: hidden;
}
main section #video .video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
main #talleres .bg-talleres {
  width: fit-content;
  margin: 0 auto;
  padding: 20px;
  background-color: #05255c;
  border-top-left-radius: 200px;
  border-bottom-right-radius: 100px;
  box-shadow: 2px 4px 10px rgba(10, 92, 76, 0.903);
  color: #fff;
  transition: background-color 1.5s ease-in-out, box-shadow 2s ease-in-out, border-top-left-radius 0.5s ease-in-out, border-bottom-right-radius 0.8s ease-in-out;
}
main #consultas {
  width: 100%;
  margin: 0 auto;
  padding: 50px 0px;
  /*por que el hover se replica en los elementos internos?? */
}
main #consultas .size-form {
  width: 50%;
  margin: 0 auto;
}
main #consultas .bg-consultas:hover {
  background-color: rgba(123, 172, 106, 0.7333333333);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 45px;
  border-bottom-left-radius: 270px;
  transition: 0.5s;
  padding: 50px;
  box-shadow: 2px 2px 10px rgba(13, 13, 60, 0.756);
  transition: background-color 0.7s ease-in-out, box-shadow 3s ease-in-out, padding 1.5s ease-in-out, border-top-right-radius 1.7s ease-in-out, border-bottom-left-radius 1.6s ease-in-out;
}
main #consultas .bg-consultas h2 {
  letter-spacing: 2px;
}
main #recetas h2 {
  padding: 10px;
  border-left: solid 2px rgb(13, 109, 90);
}
main #recetas h2:hover {
  letter-spacing: 2px;
  padding: 60px;
  border-left: solid 600px rgba(13, 109, 90, 0.842);
  transition: all 1s ease-in-out;
}
main #links-interes {
  display: flex;
  justify-content: space-between;
}
main #links-interes .card-body {
  transition: transform 0.5s ease-in-out;
  box-shadow: 4px 4px 8px rgba(13, 13, 60, 0.756);
  background: linear-gradient(to bottom, #87CEEB, #4F94CD);
}
main #links-interes .card-body:hover {
  transform: translateX(20px);
}
main #links-interes .card-body:nth-child(2):hover {
  transform: translateX(-20px);
}
main #links-interes .card-body:nth-child(3):hover {
  transform: translateY(20px);
}
main #links-interes .card-body:nth-child(4):hover {
  transform: translateY(-20px);
}
main #links-interes .card {
  border: none;
}
main #links-interes h5 {
  color: #fff;
}

#id-404 {
  display: flex;
  justify-content: center;
  align-items: center;
}
#id-404 .box404 {
  margin: 30px 0;
  padding: 30px;
  background-color: #ffc107;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  max-width: 545px;
}
#id-404 .box404 h1 {
  font-size: 9em;
}
#id-404 .box404 h1,
#id-404 .box404 h3 {
  color: #fff;
}
#id-404 .box404 a {
  text-decoration: none;
  color: #000;
  font-size: 0.9em;
}
#id-404 .box404 a:hover {
  text-decoration: underline;
  color: rgb(33, 33, 146);
  font-size: 0.95em;
  transition: all 2s;
}

#definiciones {
  /* pages destacados.html - video */
  display: block;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
#definiciones .definiciones {
  background-color: rgb(54, 107, 129);
}
#definiciones .definiciones p {
  text-align: justify;
}
#definiciones .definiciones img {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.img_bienvenida .seccionDos {
  background-color: #fff;
  position: relative;
  top: auto;
}

#titulo_h1 {
  background-color: rgba(215, 246, 204, 0.7333333333);
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
}
#titulo_h1 h1 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0 auto;
  font-size: 2em;
}

.bienvenida h4 {
  text-align: start;
}
.bienvenida :hover {
  text-align: center;
  transition: all 0.8s;
}

/* --- footer --- */
footer {
  background-color: rgb(54, 106, 128);
  box-shadow: 0px -4px 7px rgba(0, 0, 0, 0.5);
  color: #f5f4f4;
}
footer .classSuscripcion {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
footer .newsletter {
  max-width: 450px;
  margin: 0 auto;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer ul li {
  text-decoration: none;
  display: inline;
  margin: 10px;
}

.creator p {
  font-size: 0.8em;
  text-align: center;
  margin-bottom: 0;
  padding: 15px 0;
  color: #05255c;
}
.creator a {
  text-decoration: none;
  color: #05255c;
}
.creator :hover {
  transition: all 1s;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

/**************************************/
/* MEDIA QUERIES */
@media only screen and (max-width: 450px) {
  main #titulo h1 {
    padding: 0 10px;
    font-size: 2em;
  }
}
@media only screen and (max-width: 766px) {
  header nav .logo_header {
    padding: 0 10px;
    justify-content: space-around;
  }
}
/* Ejemplo de Media Query para pantallas más pequeñas (dispositivos móviles) */
@media only screen and (max-width: 767px) {
  header nav .logo_header {
    justify-content: space-between;
  }
  header nav .logo_header a {
    font-size: 1.3rem;
    padding-left: 1em;
  }
  /* main */
  main .talleres {
    display: block;
  }
  main .talleres .bg-talleres div {
    margin-bottom: 20px;
  }
  main .talleres .bg-talleres h2 {
    background-color: #fff;
    padding: 5px;
  }
  main .talleres .bg-talleres:hover {
    color: #05255c;
  }
  /* footer */
  footer h3 {
    margin: 20px;
  }
}
/* Ejemplo de Media Query para tabletas y pantallas medianas */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  main .talleres {
    display: flex;
    flex-direction: column;
  }
}
/* Ejemplo de Media Query para pantallas más grandes */

/*# sourceMappingURL=style.css.map */
