/* Variables */
$color-bg-section: #ffc107b8;
$color-bg-section-2: #7bac6abb;

header {
    background-color: rgb(13, 109, 90);
    width: 100%;
    top: 0;
    z-index: 1000;

    nav {
        .logo_header {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        &:hover {
            font-style: oblique;
        }

        .navbar {
            padding: 20px 0px;
        }
    }

}

/* --- main ----*/
main {
    padding-top: 72px;

    section {
        margin: 40px;

        h5 {
            padding: 5px 0px;
        }

        .items_alim_saludable {
            padding: 30px 40px;
            background-color: antiquewhite;
        }

        .diploma {
            width: 100%;
            margin: 0 auto;
        }

        .sobremi_pages {
            h6 {
                background-color: rgb(54, 106, 128);
                color: #fff;
                font-weight: 300;
                padding: 10px 0;
                text-align: center;
                margin: 40px 0;
            }
        }

        .talleres {
            position: relative;
            background-color: $color-bg-section;
        }

        #consultas {
            background-color: $color-bg-section-2;
            padding: 40px 0;

            .size-form {
                width: 50%;
                margin: 0 auto;
            }
        }

        #video {

            .video-container {
                position: relative;
                width: 100%;
                padding-bottom: 56.25%;
                /* 16:9 aspect ratio (height/width) */
                overflow: hidden;

                iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }

        }


    }

    #definiciones {
        /* pages destacados.html - video */
        display: block;
        margin: 0 auto;
        align-items: center;
        justify-content: center;

        .definiciones {
            background-color: rgb(54, 107, 129);

            p {
                text-align: justify;
            }

            img {
                box-shadow: 2px 2px 2px rgb(0, 0, 0, .5);
            }
        }


    }

    .img_bienvenida {

        .seccionDos {
            background-color: #fff;
            position: relative;
            top: auto
        }
    }

    #titulo {

        background-color: #b3f79cbb;
        box-shadow: 0px 4px 7px rgb(0, 0, 0, .5);

        h1 {
            font-family: 'Rubik', sans-serif;
            font-weight: 400;
            padding: 0;
            margin: 0 auto;
        }

    }


}



/* --- footer --- */

footer {
    background-color: rgb(54, 106, 128);
    box-shadow: 0px -4px 7px rgb(0, 0, 0, .5);

    .classSuscripcion {
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }

    .newsletter {
        max-width: 450px;
        margin: 0 auto;
    }

    .redes-sociales {
        background-color: #fff;
    }
}


.creator {

    p {
        font-size: 13px;
        text-align: center;
        margin-bottom:0;
        padding: 5px 0;
    }

    a {
        text-decoration: none;
        color: #000;
    }
}