/* Variables */
$color-bg-section: #ffc107b8;
$color-bg-section-2: #7bac6abb;


header {
    background-color: rgb(13, 109, 90);
    width: 100%;
    top: 0;
    z-index: 1000;

    nav {
        .logo_header {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        &:hover {
            background-color: #2b9e69bb;
            border-radius: 5px;
            padding: 7px 10px;
            font-style: oblique;
        }

        .navbar {
            padding: 20px 0px;
        }
    }

}

main {
    padding-top: 72px;

    section {
        margin: 40px;

        h5 {
            padding: 5px 0px;
        }

        .items_alim_saludable {
            padding: 30px 40px;
            background-color: antiquewhite;
        }

        .zona_videos {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0 auto;
            align-items: center;
            background-color: antiquewhite;
            padding: 20px 0px;
        }

        .diploma {
            width: 100%;
            margin: 0 auto;
        }

        .sobremi_pages {
            h6 {
                background-color: rgb(54, 106, 128);
                color: #fff;
                font-weight: 300;
                padding: 10px 0;
                text-align: center;
                margin: 40px 0;
            }
        }

        .talleres {
            position: relative;
            background-color: $color-bg-section;
        }

        #consultas {
            background-color: $color-bg-section-2;
            padding: 40px 0;

            .size-form {
                width: 50%;
                margin: 0 auto;
            }
        }

    }

    .img_bienvenida {

        .seccionDos {
            background-color: #fff;
            position: relative;
            top: auto
        }
    }

    #titulo {

        background-color: #b3f79cbb;
        box-shadow: 0px 4px 7px rgb(0, 0, 0, .5);

        h1 {
            font-family: 'Rubik', sans-serif;
            font-weight: 400;
            padding: 0;
            margin: 0 auto;
        }

    }

}

.creator {
    padding: 10px 0;

    p {
        font-size: 6px;
    }
}